In [694]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd

In [695]:
df=pd.read_csv('C:/Users/Yukesh/Downloads/Footballs analysis/euro2024_players.csv')

In [696]:
df.columns

Index(['Name', 'Position', 'Age', 'Club', 'Height', 'Foot', 'Caps', 'Goals',
       'MarketValue', 'Country'],
      dtype='object')

In [697]:
df.columns=df.columns.str.lower()
df.head()

,name,position,age,club,height,foot,caps,goals,marketvalue,country
0,Marc-André ter Stegen,Goalkeeper,32,FC Barcelona,187,right,40,0,28000000,Germany
1,Manuel Neuer,Goalkeeper,38,Bayern Munich,193,right,119,0,4000000,Germany
2,Oliver Baumann,Goalkeeper,34,TSG 1899 Hoffenheim,187,right,0,0,3000000,Germany
3,Nico Schlotterbeck,Centre-Back,24,Borussia Dortmund,191,left,12,0,40000000,Germany
4,Jonathan Tah,Centre-Back,28,Bayer 04 Leverkusen,195,right,25,0,30000000,Germany

In [698]:
spain_df=df[df['country']=='Spain']
spain_df.head()

,name,position,age,club,height,foot,caps,goals,marketvalue,country
104,David Raya,Goalkeeper,28,Arsenal FC,183,right,5,0,35000000,Spain
105,Unai Simón,Goalkeeper,26,Athletic Bilbao,190,right,39,0,30000000,Spain
106,Álex Remiro,Goalkeeper,29,Real Sociedad,191,right,1,0,25000000,Spain
107,Robin Le Normand,Centre-Back,27,Real Sociedad,187,right,10,1,40000000,Spain
108,Dani Vivian,Centre-Back,24,Athletic Bilbao,184,right,2,0,25000000,Spain

In [699]:
england_df=df[df['country']=='England']
england_df.head()

,name,position,age,club,height,foot,caps,goals,marketvalue,country
234,Aaron Ramsdale,Goalkeeper,26,Arsenal FC,190,right,5,0,25000000,England
235,Jordan Pickford,Goalkeeper,30,Everton FC,185,left,61,0,22000000,England
236,Dean Henderson,Goalkeeper,27,Crystal Palace,188,right,1,0,12000000,England
237,John Stones,Centre-Back,30,Manchester City,188,right,72,3,38000000,England
238,Marc Guéhi,Centre-Back,23,Crystal Palace,182,right,11,0,38000000,England

In [700]:
england_df=england_df.sort_values('caps',ascending=False)
spain_df=spain_df.sort_values('caps',ascending=False)

In [701]:
df.isna().sum()

name           0
position       0
age            0
club           0
height         0
foot           3
caps           0
goals          0
marketvalue    0
country        0
dtype: int64

In [702]:
df.dropna(inplace=True)

In [703]:
sdf=spain_df
edf=england_df

In [704]:
sedf=pd.concat([sdf,edf])

In [705]:
g1=sedf.groupby('country')

In [706]:
g1.mean('age')

               age      height       caps     goals   marketvalue
country
England  26.076923  182.461538  25.038462  3.846154  5.826923e+07
Spain    26.961538  181.769231  20.576923  3.653846  3.713462e+07

In [707]:
import plotly.express as px

In [708]:
df=sedf
df

,name,position,age,club,height,foot,caps,goals,marketvalue,country
128,Álvaro Morata,Centre-Forward,31,Atlético de Madrid,189,right,72,34,16000000,Spain
114,Jesús Navas,Right-Back,38,Sevilla FC,170,right,52,5,2500000,Spain
115,Rodri,Defensive Midfield,27,Manchester City,191,right,49,3,120000000,Spain
113,Daniel Carvajal,Right-Back,32,Real Madrid,173,right,43,0,12000000,Spain
124,Ferran Torres,Left Winger,24,FC Barcelona,184,right,41,19,30000000,Spain
105,Unai Simón,Goalkeeper,26,Athletic Bilbao,190,right,39,0,30000000,Spain
121,Dani Olmo,Attacking Midfield,26,RB Leipzig,179,right,33,8,50000000,Spain
127,Mikel Oyarzabal,Centre-Forward,27,Real Sociedad,181,left,29,10,45000000,Spain
109,Aymeric Laporte,Centre-Back,30,Al-Nassr FC,191,left,28,1,20000000,Spain
110,Nacho Fernández,Centre-Back,34,Real Madrid,180,right,24,1,3000000,Spain
119,Fabián Ruiz,Central Midfield,28,Paris Saint-Germain,189,left,22,1,30000000,Spain
118,Mikel Merino,Central Midfield,27,Real Sociedad,189,left,20,1,50000000,Spain
117,Pedri,Central Midfield,21,FC Barcelona,174,right,19,0,80000000,Spain
123,Nico Williams,Left Winger,21,Athletic Bilbao,181,right,13,2,60000000,Spain
129,Joselu,Centre-Forward,34,Real Madrid,191,right,10,5,5000000,Spain
107,Robin Le Normand,Centre-Back,27,Real Sociedad,187,right,10,1,40000000,Spain
116,Martín Zubimendi,Defensive Midfield,25,Real Sociedad,181,right,6,0,50000000,Spain
126,Lamine Yamal,Right Winger,16,FC Barcelona,178,left,6,2,90000000,Spain
104,David Raya,Goalkeeper,28,Arsenal FC,183,right,5,0,35000000,Spain
112,Marc Cucurella,Left-Back,25,Chelsea FC,173,left,3,0,25000000,Spain
122,Álex Baena,Attacking Midfield,22,Villarreal CF,174,right,3,1,40000000,Spain
111,Alejandro Grimaldo,Left-Back,28,Bayer 04 Leverkusen,171,left,3,0,45000000,Spain
108,Dani Vivian,Centre-Back,24,Athletic Bilbao,184,right,2,0,25000000,Spain
120,Fermín López,Central Midfield,21,FC Barcelona,174,right,1,0,30000000,Spain
125,Ayoze Pérez,Left Winger,30,Real Betis Balompié,178,right,1,1,7000000,Spain
106,Álex Remiro,Goalkeeper,29,Real Sociedad,191,right,1,0,25000000,Spain
257,Harry Kane,Centre-Forward,30,Bayern Munich,188,right,91,63,100000000,England
244,Kyle Walker,Right-Back,34,Manchester City,178,right,83,1,13000000,England
237,John Stones,Centre-Back,30,Manchester City,188,right,72,3,38000000,England
235,Jordan Pickford,Goalkeeper,30,Everton FC,185,left,61,0,22000000,England
246,Declan Rice,Defensive Midfield,25,Arsenal FC,188,right,51,3,120000000,England
245,Kieran Trippier,Right-Back,33,Newcastle United,173,right,48,1,10000000,England
254,Phil Foden,Right Winger,24,Manchester City,171,left,34,4,150000000,England
255,Bukayo Saka,Right Winger,22,Arsenal FC,178,left,33,11,140000000,England
242,Luke Shaw,Left-Back,28,Manchester United,178,left,31,3,32000000,England
250,Jude Bellingham,Attacking Midfield,20,Real Madrid,186,right,29,3,180000000,England
243,Trent Alexander-Arnold,Right-Back,25,Liverpool FC,180,right,25,3,70000000,England
240,Joe Gomez,Centre-Back,27,Liverpool FC,188,right,15,0,28000000,England
247,Conor Gallagher,Central Midfield,24,Chelsea FC,182,right,13,0,50000000,England
258,Ollie Watkins,Centre-Forward,28,Aston Villa,180,right,12,3,65000000,England
238,Marc Guéhi,Centre-Back,23,Crystal Palace,182,right,11,0,38000000,England
256,Jarrod Bowen,Right Winger,27,West Ham United,175,left,8,0,50000000,England
241,Lewis Dunk,Centre-Back,32,Brighton & Hove Albion,192,right,6,0,12000000,England
234,Aaron Ramsdale,Goalkeeper,26,Arsenal FC,190,right,5,0,25000000,England
252,Eberechi Eze,Attacking Midfield,25,Crystal Palace,178,right,4,0,55000000,England
251,Cole Palmer,Attacking Midfield,22,Chelsea FC,189,left,4,1,80000000,England
239,Ezri Konsa,Centre-Back,26,Aston Villa,183,right,4,0,35000000,England
253,Anthony Gordon,Left Winger,23,Newcastle United,182,right,3,0,60000000,England
248,Kobbie Mainoo,Central Midfield,19,Manchester United,175,right,3,0,50000000,England
259,Ivan Toney,Centre-Forward,28,Brentford FC,185,right,3,1,50000000,England
249,Adam Wharton,Central Midfield,20,Crystal Palace,182,left,1,0,30000000,England
236,Dean Henderson,Goalkeeper,27,Crystal Palace,188,right,1,0,12000000,England

In [709]:
dff=pd.read_excel('C:/Users/Yukesh/Downloads/Euro_cup_final_2024.xlsx')

In [710]:
dff.head()
dff.drop(columns='Opponent',inplace=True)
dff

,Team A,Goals,Shots,Shots_on_target,Possesion,Passes,Pass accuracy,Fouls,yellow card,Red cards,...,oShots on target,oPossesion,oppon_Passes,oPass_accuracy,oFouls,oyellow card,oRedcards,oOffsides,oCorners,Result
0,England,1,5,3,54,588,0.89,8,0,0,...,1,46,504,0.86,19,2,0,0,2,Win
1,England,1,12,4,49,528,0.86,5,1,0,...,7,51,548,0.86,13,3,0,4,4,Draw
2,England,0,12,3,74,746,0.91,11,3,0,...,1,26,275,0.73,9,2,0,0,0,Draw
3,England,2,16,2,63,808,0.87,12,3,0,...,3,37,472,0.80,19,6,0,2,1,Win
4,England,1,13,3,52,670,0.91,8,1,0,...,3,48,623,0.91,13,2,0,0,3,Win
5,England,2,9,4,59,589,0.92,6,3,0,...,2,41,414,0.89,11,3,0,1,3,Win
6,Spain,3,15,5,46,457,0.83,14,1,0,...,5,54,517,0.88,13,0,0,0,0,Win
7,Spain,1,20,7,58,590,0.91,17,3,0,...,1,42,440,0.82,14,2,0,0,2,Win
8,Spain,1,12,4,41,407,0.83,6,2,0,...,3,59,577,0.89,15,1,0,2,6,Win
9,Spain,4,35,13,76,792,0.94,11,1,0,...,0,24,263,0.79,5,1,0,0,3,Win
10,Spain,2,18,6,48,576,0.86,17,5,1,...,5,52,588,0.84,22,8,0,2,5,Win
11,Spain,2,8,2,59,500,0.88,9,2,0,...,3,41,399,0.83,14,2,0,0,6,Win

In [711]:
sefff=dff.groupby('Team A')
sefff=sefff.sum()
sefff

,Goals,Shots,Shots_on_target,Possesion,Passes,Pass accuracy,Fouls,yellow card,Red cards,Offsides,...,oShots on target,oPossesion,oppon_Passes,oPass_accuracy,oFouls,oyellow card,oRedcards,oOffsides,oCorners,Result
Team A,,,,,,,,,,,,,,,,,,,,,
England,7,67,19,351,3929,5.36,50,11,0,11,...,17,249,2836,5.05,84,18,0,7,13,WinDrawDrawWinWin Win
Spain,13,108,37,328,3322,5.25,74,14,1,9,...,17,272,2784,5.05,83,14,0,4,22,WinWinWinWinWinWin

In [712]:
sefff = sefff.groupby('Team A').sum().reset_index()
sefff

,Team A,Goals,Shots,Shots_on_target,Possesion,Passes,Pass accuracy,Fouls,yellow card,Red cards,...,oShots on target,oPossesion,oppon_Passes,oPass_accuracy,oFouls,oyellow card,oRedcards,oOffsides,oCorners,Result
0,England,7,67,19,351,3929,5.36,50,11,0,...,17,249,2836,5.05,84,18,0,7,13,WinDrawDrawWinWin Win
1,Spain,13,108,37,328,3322,5.25,74,14,1,...,17,272,2784,5.05,83,14,0,4,22,WinWinWinWinWinWin

In [713]:
sefff

,Team A,Goals,Shots,Shots_on_target,Possesion,Passes,Pass accuracy,Fouls,yellow card,Red cards,...,oShots on target,oPossesion,oppon_Passes,oPass_accuracy,oFouls,oyellow card,oRedcards,oOffsides,oCorners,Result
0,England,7,67,19,351,3929,5.36,50,11,0,...,17,249,2836,5.05,84,18,0,7,13,WinDrawDrawWinWin Win
1,Spain,13,108,37,328,3322,5.25,74,14,1,...,17,272,2784,5.05,83,14,0,4,22,WinWinWinWinWinWin

In [738]:
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

def update_layout(fig, title, xaxis_title=None, yaxis_title=None, height=300, width=450):
    fig.update_layout(
        plot_bgcolor='#f0f8ff',
        paper_bgcolor='#f0f8ff',
        title_font_color='#0056b3',
        title=title,
        font=dict(
            family='Arial',
            size=12,
            color='#0056b3'
        ),
        height=400,
        width=500
    )
    
    if xaxis_title:
        fig.update_xaxes(title_text=xaxis_title)
    if yaxis_title:
        fig.update_yaxes(title_text=yaxis_title)
    return fig

fig_age = update_layout(px.histogram(df, x='age'), 'Distribution of Player Ages', xaxis_title='Age', yaxis_title='Count')

fig_goals_position_spain = update_layout(px.pie(spain_df, names='position', values='goals', title='Goals by Position for Spain'), 'Goals by Position for Spain')
fig_goals_position_spain.update_traces(textposition='inside', textinfo='percent+label')

fig_goals_position_england = update_layout(px.pie(england_df, names='position', values='goals', title='Goals by Position for England'), 'Goals by Position for England')
fig_goals_position_england.update_traces(textposition='inside', textinfo='percent+label')

fig_market_caps = update_layout(px.scatter(df, x='caps', y='marketvalue', color='country', size='goals', title='Market Value vs. Caps'), 'Market Value vs. Caps', xaxis_title='Caps', yaxis_title='Market Value')

fig_goals_by_team = update_layout(px.bar(sefff, x='Team A', y='Goals', title='Goals by Country - Euro 2024'), 'Goals by Country - Euro 2024', xaxis_title='Country', yaxis_title='Goals')

fig_bubble = update_layout(px.scatter(sefff, x='Shots', y='Shots_on_target', size='Goals', color='Team A', title='Shots vs Shots on Target with Goals - Euro 2024'), 'Shots vs Shots on Target with Goals - Euro 2024', xaxis_title='Shots', yaxis_title='Shots on Target')

fig_goals_conceded = update_layout(px.bar(sefff, x='Team A', y='goalo', title='Goals Conceded by Country - Euro 2024'), 'Goals Conceded by Country - Euro 2024', xaxis_title='Country', yaxis_title='Goals Conceded')

fig_passes = update_layout(px.bar(sefff, x='Team A', y=['Passes', 'oppon_Passes'], barmode='group', title='Passes vs Opponent Passes - Euro 2024'), 'Passes vs Opponent Passes - Euro 2024', xaxis_title='Country', yaxis_title='Passes')

app.layout = html.Div([
    html.H1('EURO CUP FINAL EDA', style={
        'color': '#0056b3', 
        'font-family': 'Arial, sans-serif', 
        'text-align': 'center', 
        'font-size': '36px', 
        'font-weight': 'bold'
    }),
    html.Br(),  
    dbc.Tabs([
        dbc.Tab(label='Players List', children=[
            html.Div([
                html.Div([
                    dcc.Dropdown(
                        id='team-dropdown',
                        options=[
                            {'label': 'Spain', 'value': 'spain'},
                            {'label': 'England', 'value': 'england'}
                        ],
                        value='spain',
                        style={'color': '#0056b3'}
                    ),
                ], style={'width': '30%', 'display': 'inline-block'}),
                html.Div([
                    dcc.Dropdown(
                        id='position-dropdown',
                        style={'width': '100%', 'color': '#0056b3'}
                    ),
                ], style={'width': '50%', 'display': 'inline-block', 'margin-left': '10px'}),
            ], style={'width': '100%', 'margin': 'auto', 'text-align': 'left'}),
            html.Div(id='team-content')
        ]),
        dbc.Tab(label='Spain vs England Analysis', children=[
            dbc.Container([
                dbc.Row([
                    dbc.Col(dcc.Graph(figure=fig_age), md=6),
                    dbc.Col(dcc.Graph(figure=fig_market_caps), md=6)
                ]),
                dbc.Row([
                    dbc.Col(dcc.Graph(figure=fig_goals_position_spain), md=6),
                    dbc.Col(dcc.Graph(figure=fig_goals_position_england), md=6)
                ]),
                dbc.Row([
                    dbc.Col(dcc.Graph(figure=fig_goals_by_team), md=6),
                    dbc.Col(dcc.Graph(figure=fig_bubble), md=6)
                ]),
                dbc.Row([
                    dbc.Col(dcc.Graph(figure=fig_goals_conceded), md=6),
                    dbc.Col(dcc.Graph(figure=fig_passes), md=6)
                ]),
            ], fluid=True)  
        ])
    ])
], style={'backgroundColor': '#f0f8ff', 'color': '#0056b3', 'height': '150vh'})

@app.callback(
    Output('position-dropdown', 'options'),
    Input('team-dropdown', 'value')
)
def update_position_dropdown(selected_team):
    if selected_team == 'spain':
        positions = spain_df['position'].unique()
    elif selected_team == 'england':
        positions = england_df['position'].unique()
    return [{'label': pos, 'value': pos} for pos in positions]

@app.callback(
    Output('position-dropdown', 'value'),
    Input('position-dropdown', 'options')
)
def set_position_value(options):
    return options[0]['value'] if options else None

@app.callback(
    Output('team-content', 'children'),
    [Input('team-dropdown', 'value'),
     Input('position-dropdown', 'value')]
)
def update_content(selected_team, selected_position):
    if selected_team == 'spain':
        filtered_df = spain_df if selected_position is None else spain_df[spain_df['position'] == selected_position]
        fig = update_layout(px.scatter(filtered_df, x='age', y='marketvalue'), 'Market Value by Age', xaxis_title='Age', yaxis_title='Market Value', height=500, width=700)
        return html.Div([
            dash_table.DataTable(
                id='tablespain',
                columns=[
                    {'name': 'Name', 'id': 'name'},
                    {'name': 'Position', 'id': 'position'},
                    {'name': 'Age', 'id': 'age'},
                    {'name': 'Appearance', 'id': 'caps'},
                    {'name': 'Goals', 'id': 'goals'}
                ],
                data=filtered_df.to_dict('records'),
                style_table={'height': '300px', 'overflowY': 'auto'},
                style_header={'backgroundColor': 'white', 'color': 'black'},
                style_cell={'backgroundColor': 'white', 'color': 'black'}
            ),
            dcc.Graph(
                id='chart-spain',
                figure=fig
            )
        ])
    elif selected_team == 'england':
        filtered_df = england_df if selected_position is None else england_df[england_df['position'] == selected_position]
        fig = update_layout(px.scatter(filtered_df, x='age', y='marketvalue'), 'Market Value by Age', xaxis_title='Age', yaxis_title='Market Value', height=500, width=700)
        return html.Div([
            dash_table.DataTable(
                id='tableengland',
                columns=[
                    {'name': 'Name', 'id': 'name'},
                    {'name': 'Position', 'id': 'position'},
                    {'name': 'Age', 'id': 'age'},
                    {'name': 'Appearance', 'id': 'caps'},
                    {'name': 'Goals', 'id': 'goals'}
                ],
                data=filtered_df.to_dict('records'),
                style_table={'height': '300px', 'overflowY': 'auto'},
                style_header={'backgroundColor': 'white', 'color': 'black'},
                style_cell={'backgroundColor': 'white', 'color': 'black'}
            ),
            dcc.Graph(
                id='chart-england',
                figure=fig
            )
        ])

if __name__ == '__main__':
    app.run_server(debug=True, port=8070)